<!-- Used by theme-bio-builtin-1,2 -->

<p class="ui no-bottom" style="text-align: center; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 0.9em;">
{% if site.data.bio.basics.website %}
  <a href="{{ site.data.bio.basics.website }}"><i class="home icon"></i>{{ site.data.bio.basics.website | remove: "http://" | remove: "https://" }}</a>
{% endif %}
{% if site.data.bio.basics.email %}
  &nbsp;<span style="color:#ccc;">|</span>&nbsp;
  <a href="mailto:{{ site.data.bio.basics.email }}"><i class="mail outline icon"></i>{{ site.data.bio.basics.email }}</a>
{% endif %}
{% for entry in site.data.bio.basics.profiles %}
  &nbsp;<span style="color:#ccc;">|</span>&nbsp;
  <a href="{{ entry.url }}"><i class="{{ entry.network | downcase }} icon"></i>{{ entry.username }}</a>
{% endfor %}
</p>
