<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.memberships %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">Memberships</h3>
  </div>
  <div class="fourteen wide column no-bottom">
    {% for entry in site.data.bio.memberships %}
    <div class="ui grid" style="margin-bottom: 2px !important;">
      <div class="sixteen wide column no-bottom">
        <p class="ui no-bottom" style="margin: 0; padding: 0; line-height: 1.4;"><b>{{ entry.role }}</b> &mdash; {{ entry.organization }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
